.App {
    text-align: center;
    background-color: #faf0e6;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App-link {
    color: #61dafb;
}
.dropdownWidth{
    width: 400px;
    margin:auto;
    text-align:center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Table-Header {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    background-color: #DDEEEE;
    position: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 400px;
}

.Table-Header th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #00539F;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.Table-Header td {
    border: solid 1px #fff;
    color: #00539F;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.Table-Header tr:hover {
    background-color: #CCE7E7;
}
/* button for things that aren't a save or delete */
.btn {
    width: 180px;
    height: 60px;
    background:#4169e1;
    color: white;
    border: 3px solid #000000;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
/* button for things that are for a delete */
.btncancel {
    width: 180px;
    height: 60px;
    background:#d11a2a;
    color: white;
    border: 3px solid #000000;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  /* button for things that are for an image */
.btntransparent{
    background-color: transparent;
    background-repeat: no-repeat;
    color: black;
    font-size: 0%;
    border:none;
    cursor: pointer;
    overflow: hidden;
}

/* button for things that are for a save */
.btnadd {
    width: 180px;
    height: 60px;
    background:#92d293;
    color: white;
    border: 3px solid #000000;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }



/* All stuff under this are for the header banner and for the text that is on it */ 
.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h2 { 
    position: absolute; 
    top: 300px; 
    left: 0; 
    width: 100%;
    color: white; 
 }
 h5 { 
    position: absolute; 
    top: 350px; 
    left: 0; 
    width: 100%; 
    color: white;
 }

 .btnclose{
    width: 180px;
    height: 60px;
    background:#4169e1;
    color: white;
    border: 3px solid #000000;
    position:absolute;
    top:0;
    right:0;
 }
 

 
